<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Load Parameter -->
  <param name="yolov5_path" value="$(find yolov5_findball)/yolov5"/>
  <param name="use_cpu" value="true"/>

  <!-- Blue detection node -->
  <node pkg="yolov5_findball" type="decectball2.py" name="yolov5_findball" respawn="true" output="screen">
    <param name="weight_path" value="$(find yolov5_findball)/weights/purpleframe900.pt"/>
    <param name="pub_topic" value="/camera1/ball_position"/>

    <param name="camera_frame" value="camera_color_frame"/>
    <param name="conf" value="0.3"/>
  </node>

  <!-- Camera 1 node -->
  <group ns="camera1">
    <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" output="screen">
      <param name="video_device" value="/dev/video0"/>
      <param name="image_width" value="640"/>
      <param name="image_height" value="480"/>
      <param name="pixel_format" value="yuyv"/>
      <param name="camera_frame_id" value="usb_cam"/>
      <param name="io_method" value="mmap"/>
    </node>
  </group>

  <!-- Camera 2 node -->
  <group ns="camera2">
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
      <param name="video_device" value="/dev/video2"/>
      <param name="image_width" value="640"/>
      <param name="image_height" value="480"/>
      <param name="pixel_format" value="yuyv"/>
      <param name="camera_frame_id" value="usb_cam"/>
      <param name="io_method" value="mmap"/>
    </node>
  </group>

  <!-- Image processing nodes -->
  <node name="image_processor1" pkg="edlib" type="video_test2" respawn="true" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
  </node>
  <node name="image_processor2" pkg="edlib" type="video_test3" respawn="true" output="screen">
    <remap from="image" to="/camera2/usb_cam/image_raw"/>
  </node>
  <node name="rc9_serial" pkg="rc9_serial" type="r2_serial" respawn="true" output="screen" />

</launch>
